<div >	
	<div class="well span4" style="text-align: center;">
	        <h3>There are</h3>
	        <p id="connections" style="font-size: 96px;line-height: 96px;">{{conn}}</p>
	        <h4>Active visitors</h4>
	</div>
	<div class="well span4" style="text-align: center;">
	        <h3>There are</h3>
	        <p id="connections" style="font-size: 96px;line-height: 96px;">{{offer}}</p>
	        <h4>Offer views</h4>
	</div>
	<div class="well span4" style="text-align: center;">
	        <h3>There are</h3>
	        <p id="connections" style="font-size: 96px;line-height: 96px;">{{pymtError}}</p>
	        <h4>Payment failure</h4>
	</div>
</div>
<div class="row-fluid" >
	<div class = "well span12" style="text-align: center">		
	</div>
</div>


