<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <!--link href="app/stylesheets/bootstrap.css" rel="stylesheet"-->
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <!--link href="app/stylesheets/bootstrap-responsive.css" rel="stylesheet"--> 

    <link href="app/css/bootstrap.min.css" rel="stylesheet">
  <link href="app/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row-fluid" >
          <div id = "chatDiv" class="row-fluid" ng-show = "chatClk">  
            <div class = "well span4 " style="height: 600px;" >    
                <div id="conversation" style="width:300px; height: 450px;overflow: auto"></div>
                <input id="data" style="width:275px; height:100px" />
                <input type="button" id="datasend" value="send" />        
            </div>
          </div>
        </div>
    </div>

  </body>

<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> -->
<script src="app/js/lib/lib/jquery-1.9.1.min.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');
  var supportUser = "Support Agent";

  // on connection to server, ask for user's name with an anonymous callback
  socket.on('connect', function(){    
   supportUser =  prompt("User Name");
  });

  // listener, whenever the server emits 'updatechat', this updates the chat body
  socket.on('msgFromClient', function (data) {
    $('#conversation').append('<b>'+"Customer" + ':</b> ' + data + '<br>');
    var objDiv = document.getElementById("conversation");
    objDiv.scrollTop = objDiv.scrollHeight;
  });

    // on load of page
  $(function(){
    // when the client clicks SEND
    $('#datasend').click( function() {      
      var clientId = "<%=clientId%>";        
      var message = $('#data').val();
      $('#data').val('');      
      $('#conversation').append('<b>'+"Me says " + ':</b> ' + message + '<br>'); 
      socket.emit('sendchatToClient', message,clientId,supportUser);
      $('#data').focus();
    });

    // when the client hits ENTER on their keyboard
    $('#data').keypress(function(e) {
      if(e.which == 13) {
        $(this).blur();
        $('#datasend').focus().click();
        var objDiv = document.getElementById("conversation");
        objDiv.scrollTop = objDiv.scrollHeight;
      }
    });
  });
</script>

</html>
